option_settings: 
  "aws:elasticbeanstalk:application:environment": 
    DJANGO_SETTINGS_MODULE: "int-prob.settings"
    "PYTHONPATH": "/var/app/current:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python": 
    WSGIPath: int-prob.wsgi:application 
    NumProcesses: 3 
    NumThreads: 20


container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python int-prob/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python int-prob/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python iotd/manage.py collectstatic --noinput"

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python int-prob/manage.py migrate --noinput"
    leader_only: true
  02_makesuper:
    command: "source /opt/python/run/venv/bin/activate && python /opt/python/current/app/manage.py makesuper"
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python /opt/python/current/app/manage.py collectstatic --noinput"
